header {
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000075;
}

.search-form {
    padding-top: 10px;
    padding-bottom: 10px;
    input{
        padding: 5px;
    }
    button{
        padding: 5px;
        cursor: pointer;
    }
}